@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

:root {
  --bg-color: #a8bba3;
  --bg-color-secondary: #f5f0e6;
}

blockquote {
  border-left: 4px solid #73976a;
  padding-left: 1rem;
  margin-left: 0;
  font-style: italic;
  color: #555;
  font-family: var(--font-baskervville);
  font-size: 20px;
}

blockquote p {
  font-size: 20px;
  color: #555;
  opacity: 60%;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-secondary);
  line-height: 1.5;
}

@font-face {
  font-family: "Velvelyne";
  src: url("/fonts/Velvelyne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Velvelyne";
  src: url("/fonts/Velvelyne-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jubilat";
  src: url("/fonts/Jubilat-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-velve: "Velvelyne", sans-serif;
  --font-jubilat: "Jubilat", serif;

  --bg-color: var(--bg-color);
  --bg-color-secondary: var(--bg-color-secondary);

  --font-baskervville: "Baskervville", serif;
}
